<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Invoice</title>
</head>
<body>
<p th:text="${'Xin chào ' + customerName + '!'}"></p>
<p>Thông tin hoá đơn: </p>
<table border="1px solid black">
    <tr>
        <td>Mã hoá đơn</td>
        <td>Mã đơn hàng</td>
        <td>Tổng tiền hàng</td>
        <td>Tổng tiền đã trả</td>
        <td>Hạn thanh toán</td>
    </tr>
    <tr th:each="invoice: ${invoices}">
        <td th:text="${invoice.invoiceCode}"/>
        <td th:text="${invoice.orderCode}"/>
        <td th:text="${#strings.replace(#numbers.formatCurrency(invoice.totalAmount), '.00', '')}"/>
        <td th:text="${#strings.replace(#numbers.formatCurrency(invoice.totalAmountPaid), '.00', '')}"/>
        <td th:text="${invoice.paymentDueDate}"/>
    </tr>
    <tr>
        <td colspan="2">Tổng cộng</td>
        <td th:text="${#strings.replace(#numbers.formatCurrency(totalSumAmount), '.00', '')}"/>
        <td th:text="${#strings.replace(#numbers.formatCurrency(totalSumAmountPaid), '.00', '')}"/>
        <td></td>
    </tr>
</table>
<p th:text="${content}"></p>
</body>
</html>
