<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Order</title>
</head>
<body>
<p th:text="${'Xin chào ' + customerName + '!'}"></p>
<p>Thông tin đơn hàng: </p>
<p th:text="${'Mã đơn hàng: ' + orderCode}"></p>
<table border="1px solid black">
    <tr>
        <td>Tên sản phẩm</td>
        <td>Nhóm hàng</td>
        <td>Đơn vị</td>
        <td>Số lượng</td>
        <td>Đơn giá</td>
        <td>Thành tiền</td>
    </tr>
    <tr th:each="order: ${orders}">
        <td th:text="${order.productName}"/>
        <td th:text="${order.category}"/>
        <td th:text="${order.unit}"/>
        <td th:text="${order.quantity}"/>
        <td th:text="${#strings.replace(#numbers.formatCurrency(order.price), '.00', '')}"/>
        <td th:text="${#strings.replace(#numbers.formatCurrency(order.amount), '.00', '')}"/>
    </tr>
</table>
<p th:text="${'Tổng tiền hàng: ' + #strings.replace(#numbers.formatCurrency(totalAmount), '.00', '')}"/>
<p th:text="${content}"></p>
</body>
</html>
