<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Email Forgot Password</title>
</head>
<body>
<p th:text="${'Xin chào ' + username + '!'}"></p>
<p>Bạn nhận được mail này vì đã quên mật khẩu và yêu cầu thiết lập lại mật khẩu mặc định. </p>
<p>Nếu bạn không tạo yêu cầu thiết lập lại mật khẩu mặc định, vui lòng bỏ qua email này. </p>
<p>Mời bạn bấm vào link phía dưới để xác nhận tài khoản và thiết lập về mật khẩu mặc định :</p>
<p th:text="${content}"></p>
<p>P/s: Chú ý link có hiệu lực trong vòng 24 giờ kể từ ngày nhận</p>
</body>
</html>
